:root {
---grid-color:rgb(173, 221, 173);
---textbox-padding: 15px 20px 15px 20px;
---dark:rgb(69, 69, 69);
---accent:green;
}

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 10px var(---dark) solid;
}

header h1 {
    width: 50%;
    background-color: var(---grid-color);
    color: rgb(69, 69, 69);
    font-size: 50px;
    display: flex;
    justify-content: right;
    padding-right: 2%;
}

header nav {
    width: 50%;
    color: lightblue;
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
    padding-top: 15px;
    text-align: center;
    background-color: rgb(69, 69, 69);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

figure {
    background-image: url(../images/cat-placeholder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    position:relative;
}

figure h1{
    position: absolute; 
    z-index: 1;
    bottom: 10%;
    border: 5px none solid;
    background-color: var(---grid-color);
    color: var(---accent);
    min-width: 70px;
    min-height: 50px;
    font-size: 30px;
}

img{
    width: 100%;
    border: 5px var(---grid-color) solid;
}

section h1{
    font-size: 30px;
    padding-right: 2%;
    color: var(---accent)
}

section ul{
    padding-top: 15px;
    text-align: center;
}

.left-side {
    display: flex;
    flex-wrap: wrap;
}

.left-side .title {
    width: 10%;
    border-right: 7px var(---dark) solid;
    text-align: right;
}

.left-side .section-container{
width: 88%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-left: 3%;
}


.homieWorks{
padding: var(---textbox-padding);
border: 5px var(---grid-color);
background-color: var(---grid-color);
color: black;
}
.card{
    width:45%;
    position: relative;
    margin-top: 20px;
    color:var(---grid-color)
    /* border: 5px turquoise solid; */
}

.card h3 {
    position: absolute; 
    z-index: 3;
    bottom: 10%;
    border: 5px var(---grid-color) solid;
    background-color: var(---grid-color);
    color: var(---accent);
    min-width: 70px;
    min-height: 50px;
    font-size: 30px;
    /* padding: var(---textbox-padding) */
}

.section-container ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
#image1{
    position: relative;
    width: 100%;
    margin-top:20px;
}
#image1 h3{
    position:absolute;
    z-index: 1;
    bottom: 10%;
}
